* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
ul {
    margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}
.header {
    background: linear-gradient(180deg, #E8BD55 0%, #F2AE0A 0.01%, #E9BB4C 52.08%, #E9BB4C 90.62%);
    padding: 13px 40px 8px 40px;
}
.header__wrap-menu {
    display: flex;
    align-items: center;
}
.header__menu-list {
    display: flex;
    padding-inline-start: 47px;
}
.header__menu-item {
    list-style: none;
}
.header__menu-item:not(:last-child) {
    padding-right: 28px;
}
.header__menu-item a {
    text-decoration: none;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    color: #494949;
    text-shadow: 0px 0px 0px #000000;
    padding: 5px;
}
.main {
    height: 100vh;
    background-image: url('../images/bg_1.jpg');
    background-size: cover;
}
.container {
    max-width: 1478px;
    margin: 0 auto;
    padding-top: 267px;
}
.title {
    max-width: 600px;
    padding-bottom: 25px;
}
.main__title {
    font-weight: bold;
    font-size: 72px;
    line-height: 80px;
    color: #FFFFFF;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 3px;
}
.subtitle {
    padding-bottom: 69px;
    max-width: 549px;
}
.main__subtitle {
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    text-shadow: 0px 0px 0px #000000;
}
.main__button {
    background: #E8BD55;
    border-radius: 8px;
    padding: 18.5px 56px;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    cursor: pointer;
}
.main__button:hover {
    background: #F2AE0A;
}
.main__button:active {
    background: #FF9E00;
}
.page__content {
    height: 100vh;
    background-image: url('../images/Bg.png');
    background-size: cover;
}
.wrap__page-content {
    display: none;
}
.input-search {
    width: 100%;
    height: 50px;
    background: #FFFFFF;
    box-shadow: 0px 1px 2px rgba(50, 50, 71, 0.08);
    border-radius: 6px;
    margin-bottom: 15px;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #C4C4C4;
    border-style: none;
    padding: 15px 19px;
}
.wrapper-choice {
    display: flex;
}
.input__add-btn {
    margin-left: auto;
    cursor: pointer;
    font-weight: normal;
    font-size: 16px;
    line-height: 13px;
    color: #494949;
    padding: 12px 16px 11px;
    background: #FFFFFF;
    box-shadow: 0px 1px 2px rgba(50, 50, 71, 0.08), 0px 0px 1px rgba(50, 50, 71, 0.2);
    border-radius: 6px;
    border-style: none;
}
.select-choice {
    background: #FFFFFF;
    box-shadow: 0px 1px 2px rgba(50, 50, 71, 0.08), 0px 0px 1px rgba(50, 50, 71, 0.2);
    border-radius: 6px;
    font-weight: normal;
    font-size: 16px;
    line-height: 13px;
    color: #494949;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 12px;
}
.select-choice:not(:last-child) {
    margin-right: 15px;
    min-width: 137px;
}